//
//  Secrets.xcconfig
//  DripCheck
//
//  Created by Matthew Tjoa on 2025-05-31.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

OPEN_AI_KEY=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
